/* Styling for react-select container */
.react-select-container {
  flex: 1 1 auto;
}

.react-select-container > .react-select__control {
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
}

/* Styling for react-select control */
.react-select__control {
  display: flex;
  align-items: center;
  border: 1px solid #ced4da;
  border-radius: inherit;
  padding: 0.375rem 0.75rem;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

/* Styling for focused react-select control */
.react-select__control:focus-within {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

/* Styling for react-select options */
.react-select__menu {
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  margin-top: 0.125rem;
  z-index: 2;
}

/* Styling for react-select option */
.react-select__option {
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
}

/* Styling for selected react-select option */
.react-select__option--is-selected {
  background-color: #4ca1af;
  color: #fff;
}

/* Styling for react-select option on hover */
.react-select__option--is-focused {
  background-color: #f0f0f0;
}

/* Styling for react-select indicator icons */
.react-select__indicator {
  color: #ced4da;
}
